<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="logo-wrap">
      <img src="assets\transportation.png" alt="">
    </div>
    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  aria-current="page" >მთავარი</a>
        </li>
    
        
    
        <li class="nav-item dropdown">
          <a class="nav-link"  id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            მომსახურება
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
           <li><a class="dropdown-item" routerLink="cadet-promise">საბაჟო გაფორმება</a> </li> 
           <li><a class="dropdown-item" routerLink="promoted-cadets">სახმელეთო გადაზიდვები</a> </li> 
           <li><a class="dropdown-item" routerLink="cadets/olimpic">საზღვაო გადაზიდვები</a> </li> 
          </ul>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" >ჩვენს შესახებ</a>
        </li>
        <li class="nav-item">
          <a routerLink="home" class="nav-link"  aria-current="page" >კონტაქტი</a>
        </li>
      </ul>
    </div>
  </div>
</nav>