.wrapper {
    padding: 40px;
    background-color: #87CEFA ;
    .container {
        .text {
            color: #fff;
            font-weight: 400;
            .contact {
                text-align: center;
            }
        }
    }
}