<div class="wrapper">
  <div class="header-wrapper">
    <h2 class="msc-section-title">სახმელეთო გადაზიდვები</h2>
  </div>
  <div  class="first-section">
    <div class="container">
      
      <div class="row row-container">
        <div class="col-md-4 image-container">
          <div class="logo">
            <img src="assets/truck.png" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="header">
            <h5>საავტომობილო გადაზიდვები</h5>
          </div>
          <div class="list-wrap">
            <ul>
              <li>საავტომობილო გადაზიდვების მომსახურება;</li>
              <li> სატვირთო
                გადაზიდვები (FTL);</li>
              <li>საშიში ტვირთების გადაზიდვა/ADR;</li>
              <li>საკონტეინერო ტვირთები; ref-მაცივრები;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="second-section">
    <div class="container">
      <div class="row row-container">
        <div class="col-md-4 image-container">
          <div class="logo">
            <img src="assets/train.png" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="header">
            <h5>ტვირთების სარკინიგზო გადაზიდვები</h5>
          </div>
          <div class="list-wrap">
            <ul>
              <li>იმპორტული, საექსპორტო, ტრანზიტული ტვირთების
                გადაზიდვა;</li>
              <li> გადაზიდვა უნივერსალური კონტეინერებით, ვაგონებით,
                ნახევარ ვაგონებით; ცისტერნებით, რეფ-მაცივრებით;</li>
              <li>რკინიგზის ტარიფისა და დამატებითი მოსაკრებლების გადახდა;</li>
              <li>სარკინიგზო ზედნადების გაფორმება;</li>
              <li> ტვირთების საბაჟო დეკლარირება;</li>
              <li>აქციზური ტვირთების ტრანზიტზე ფინანსური გარანტიის
                გაფორმება;</li>
              <li> ვაგონებიდან ტვირთის დატვირთვის, გადმოტვირთვის
                ორგანიზება;</li>
              <li>ტვირთის დამაგრება და გამოყოფა;</li>
              <li>ვაგონების მოძრაობის თვალყურის დევნება;</li>
              <li>ტვირთის დაზღვევა და დაცვის ორგანიზება;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="third-section">
    <div class="container">
      <div class="row row-container">
        <div class="col-md-4 image-container">
          <div class="logo">
            <img src="assets/cargo (1).png" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="header">
            <h5>ტვირთის გადატანა და შენახვა</h5>
          </div>
          <div class="list-wrap">
            <ul>
              <li>იმპორტული, საექსპორტო, ტრანზიტული ტვირთების
                გადაზიდვა;</li>
              <li> გადაზიდვა უნივერსალური კონტეინერებით, ვაგონებით,
                ნახევარ ვაგონებით; ცისტერნებით, რეფ-მაცივრებით;</li>
              <li>რკინიგზის ტარიფისა და დამატებითი მოსაკრებლების გადახდა;</li>
              <li>სარკინიგზო ზედნადების გაფორმება;</li>
              <li> ტვირთების საბაჟო დეკლარირება;</li>
              <li>აქციზური ტვირთების ტრანზიტზე ფინანსური გარანტიის
                გაფორმება;</li>
              <li> ვაგონებიდან ტვირთის დატვირთვის, გადმოტვირთვის
                ორგანიზება;</li>
              <li>ტვირთის დამაგრება და გამოყოფა;</li>
              <li>ვაგონების მოძრაობის თვალყურის დევნება;</li>
              <li>ტვირთის დაზღვევა და დაცვის ორგანიზება;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>