<div class="wrapper">
  <div class="container">
    <div class="header-wrapper">
      <h2 class="msc-section-title">საბაჟო გაფორმება</h2>
    </div>
    <div class="row col-wrapper">
      <div class="col-md-4">
        <img src="assets/containers.png" alt="">
        
      </div>
      <div class="col-md-8 list">
        <ul>
          <li>იმპორტი</li>
          <li>ექსპორტი</li>
          <li>დროებითი შემოტანა (მათ შორის ATA კარნეტის მიხედვით);</li>
          <li>ტრანზიტი;</li>
          <li> რეექსპორტი;</li>
          <li>კონსულტაცია საბაჟო გაფორმების საკითხებზე;</li>
          <li>საქონლის კოდების შერჩევა UKTVED-ის შესაბამისად;</li>
          <li>საბაჟო მოსაკრებლების, ბაჟების და სხვა გადასახდელების
            გაანგარიშება;</li>
          <li>დეკლარაციის გაფორმება და წარდგენა;</li>
          <li>ტვირთზე წარმოშობის სერტიფიკატის გაფორმება;</li>
          <li>ტვირთის სინჯების აღება და ფიტოსანიტარიული,
            ვეტერინარული სერტიფიკატების გაფორმება;</li>
          <li>ორმაგი დანიშნულების ტვირთებზე დასკვნების მიღება.
            ჩვენი მიზანი: გთავაზობთ მორგებულ გადაწყვეტილებებს თქვენი
            კონკრეტული საჭიროებისთვის ინდივიდუალური
            გადაწყვეტილებების შეთავაზება.
            TLS თავაზობს მომსახურებას, რომელიც მოიცავს ტვირთების
            საერთაშორისო გადამუშავებას / ლოგისტიკას, დასაწყობებას,
            ინვენტარიზაციას / ფულფილმენტს და ტრანსპორტირებას.
            ჩვენი ლოგისტიკის სპეციალისტები პირადად დაგეხმარებიან
            იმპორტის, ექსპორტის, ტრანსპორტირების, შენახვისა და საბაჟო
            საკითხებში.
          </li>
        </ul>
       
      </div>
    </div>
  </div>
</div>
