<div class="wrapper">
    <div class="header-wrapper">
      <h2 class="msc-section-title">საზღვაო გადაზიდვები</h2>
    </div>
    <div  class="first-section">
      <div class="container">
        
        <div class="row row-container">
          <div class="col-md-4 image-container">
            <div class="logo">
              <img src="assets/cargo321.png" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="header">
              <h5>საკონტეინერო გადაზიდვები</h5>
            </div>
            <div class="list-wrap">
              <ul>
                <li>ჩვეულებრივი, არასაშიში ტვირთები;</li>
                <li> ტვირთები, რომლებსაც სჭირდებათ ტემოერატურის რეჟიმის
                    დაცვა;</li>
                <li> საშიში ტვირთები;</li>
                <li>ნაყარი ტვირთი კონტეინერებში;</li>
                <li>თხევადი ტვირთი ფლექსიტანკებში და ტანკ-კონტეინერებში.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
    <div class="third-section">
      <div class="container">
        <div class="row row-container">
          <div class="col-md-4 image-container">
            <div class="logo">
              <img src="assets/cargo (1).png" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="header">
              <h5>დაფრახტვა</h5>
            </div>
            <div class="list-wrap">
                TLS დაკავებულია გემების დაფრახტვით და ახორციელებს ყველა
                სახის ტვირთების გადაზიდვას მთელ მსოფლიოში. ჩვენ გთავაზობთ
                პროფესიონალურ მომსახურებას დაფრახტვის და საბროკერო
                მომსახურების სფეროში, ასევე ყველა სახის ტვირთების
                გადაზიდვაში. მათ შორისაა თხევადი, ნაყარი ტვირთები, საპროექტო
                ტვირთები, არასტანდარტული ზომის ტვირთები და მძიმეწონიანი
                ტვირთები, როგორც გადაზიდვების საზღვაო ნაწილში, ასევე შიდა
                წყლებში.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div  class="second-section">
        <div class="container">
          
          <div class="row row-container">
            <div class="col-md-4 image-container">
              <div class="logo">
                <img src="assets/cargo-ship321.png" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <div class="header">
                <h5>გემების აგენტირება</h5>
              </div>
              <div class="list-wrap">
                <ul>
                  <li> ნავმისადგომის დაჯავშნა;</li>
                  <li> პილოტების, ბუქსირების და გემების დამმაგრებლების შეკვეთა;</li>
                  <li> ყველა ფორმალობის გაფორმება საპორტო ხელმძღვანელობასთან და დაწესებულებებში;</li>
                  <li>მომზადება და დატვირთვის და გადმოტვირთვის დროს
                    დასწრება;</li>
                  <li>გემის ეკიპაჟის საჭიროებების დაკმაყოფილების
                    უზრუნველყოფა;</li>
                    <li>გეგმიური რემონტი;</li>
                    <li>რიგგარეშე რემონტი;</li>
                    <li>მტკნარი წყლის მიწოდება;</li>
                    <li>ბუნკერის შეკვეთა;</li>
                    <li>გემის სურსათის მარაგის შევსება;</li>
                    

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
   
  </div>