 <div class="wrapper">
    <div class="header-wrapper">
        <h2 class="msc-section-title">სარკინიგზო გადაზიდვები</h2>
      </div>
    <div class="second-section">
        <div class="container">
           <div class="row row-container">
             <div class="col-md-4 image-container">
               <div class="logo">
                 <img src="assets/train.png" alt="">
               </div>
             </div>
            <div class="col-md-8">
                <div class="header">
                 <h5>ტვირთების სარკინიგზო გადაზიდვები</h5>
               </div>
               <div class="list-wrap">
                 <ul>
                   <li>იმპორტული, საექსპორტო, ტრანზიტული ტვირთების
                     გადაზიდვა;</li>
                   <li> გადაზიდვა უნივერსალური კონტეინერებით, ვაგონებით,
                     ნახევარ ვაგონებით; ცისტერნებით, რეფ-მაცივრებით;</li>
                   <li>რკინიგზის ტარიფისა და დამატებითი მოსაკრებლების გადახდა;</li>
                   <li>სარკინიგზო ზედნადების გაფორმება;</li>
                   <li> ტვირთების საბაჟო დეკლარირება;</li>
                   <li>აქციზური ტვირთების ტრანზიტზე ფინანსური გარანტიის
                     გაფორმება;</li>
                   <li> ვაგონებიდან ტვირთის დატვირთვის, გადმოტვირთვის
                     ორგანიზება;</li>
                   <li>ტვირთის დამაგრება და გამოყოფა;</li>
                   <li>ვაგონების მოძრაობის თვალყურის დევნება;</li>
                   <li>ტვირთის დაზღვევა და დაცვის ორგანიზება;</li>
                 </ul>
               </div>
             </div>
           </div>
         </div>
     </div>
 </div>
 
 