/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}

html {
  scroll-behavior: smooth;
 }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.black {
  background: black !important;
}
.def {
  background: transparent;
  position: fixed;
  left: 0px;
  right: 0px;
  TOP: 0PX;
  PADDING: 0PX;
  z-index: 999999999999999;
}
