<div class="wrapper">
  <div class="first-section">
    <img src="assets/gif/gif.gif" alt="">
  </div>
  <div class="second-section">
    <div class="container">
      <div class="header-wrapper">
        <h2 class="msc-section-title">მომსახურება</h2>
      </div>
      <div class="row">
        <div routerLink="/customs" class="col-md-3 animation">
          <div class="logo">
            <img src="assets/cargo.png" alt="">
          </div>
          <div class="description">
            <h4>საბაჟო გაფორმება</h4>
          </div>
        </div>
        <div routerLink="/terrestrial" class="col-md-3 animation">
          <div class="logo">
            <img src="assets/box-truck.png" alt="">
          </div>
          <div class="description">
            <h4>სახმელეთო გადაზიდვები</h4>
          </div>
        </div>
        <div routerLink="/ship" class="col-md-3 animation">
          <div class="logo">
            <img src="assets/cargo-ship.png" alt="">
          </div>
          <div class="description">
            <h4>საბაჟო გაფორმება</h4>
          </div>
        </div>
        <div routerLink="/train" class="col-md-3 animation">
          <div class="logo">
            <img src="assets/train.png" alt="">
          </div>
          <div class="description">
            <h4>სარკინიგზო გადაზიდვები</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="section3" class="third-section">
    <div class="container">
      <div class="header-wrapper">
        <h2 class="msc-section-title">ჩვენს შესახებ</h2>
      </div>
      <div class="row third-container">
        <div class="col-md-4">
          <div class="logo">
            <img src="assets/teamwork.png" alt="">
          </div>
        </div>
        <div class="col-md-8 text">
          <p>
            საერთაშორისო გადაზიდვის კომპანია TLS თავაზობს მომსახურებას, რომელიც მოიცავს ტვირთების 
            საერთაშორისო გადამუშავებას / ლოგისტიკას, დასაწყობებას, ინვენტარიზაციას / ფულფილმენტს და ტრანსპორტირებას.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>